html {
	background-color: #ccc;
}
.container {
	width: 900px;
	margin: 0	auto;
}

h1 {
	text-align: center;
}
#map {
	width: 600px;
	height: 400px;
	margin: auto;
	position: relative;
	filter: grayscale(100%);
}
